@import url("https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry-col-2 {
      column-count: 2;
      column-gap: 3em;
    }

    .masonry-col-3 {
      column-count: 3;
      column-gap: 2em;
    }

    .masonry-col-4 {
      column-count: 4;
      column-gap: 2em;
    }

    /* .masonry {
      column-count: 4;
      column-gap: 2em;
    } */
    .break-inside {
      break-inside: avoid;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

html,
body {
  @apply bg-lightOrange-50 font-arsenal;
}

.cart-open {
  overflow: hidden;
  overflow-y: hidden;
}
